.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  .button {
    width: 320px;
    height: 40px;
    font-size: 16px;
  }
}

.modal {
  :global(.ant-modal-title) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icons {
      display: flex;

      span {
        margin-left: 8px;
      }
    }
  }

  &.fullscreen {
    top: 0;
    padding: 0;
    height: 100vh;
    margin: 0;

    :global(.ant-modal-content) {
      width: 100vw;
      height: 100%;
    }
  }
}